.Geral { 
    border: 3px solid gray; 
    display: flex; 
    align-items: center;
    flex-direction: column;

    width: 100%;
    height: 100%;
    h1{
        /*caixa do título*/
        margin-top: 100px; /*posição em relação ao teto*/
        background-color: #bf2a2c;
        width: 400px;
        height: 100px;
        border-radius: 15px;
        /*texto do título*/
        font-family: Arial, Helvetica, sans-serif;
        color: #f2f2f2;
        font-size: 50px; /*até aqui, especificações da letra*/
        display: flex;
        align-items: center;
        text-align: center;
        justify-content: center; /*até aqui, como a letra se dispõe na caixa*/
    }
    .FilaDupla{
        border: 3px solid blue;

        /*vizualização da fila*/
        display: flex; /*deita os itens da fila*/
        width: 1200px;
        height: 160px; /*até aqui o tamanho*/
        justify-content: center; /*centraliza os elementos da fila*/
        justify-content: space-evenly; /*coloca espaço entre os elementos*/
        align-items: center; /*centraliza os elementos*/


        .Elemento{
            border: 3px solid red;

            /*aparência de cada célula*/
            width: 100px;
            height: 100px;
            background-color: #ddd6d6;
            border-radius: 16px;
            
            /*aparência dos números*/
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 40px;
            font-family: 'Inter', sans-serif;
            font-weight: bold;

        }
    }
    .Botoes{
        border: 3px solid purple;

        /*vizualização do quadro de botões*/
        display: flex;
        align-items: center;
        

        input{
            border: 3px solid green;

            /*aparência do botão dos numeros*/
            width: 80px;
            height: 80px;
        }
        section{
            border: 3px solid orangered;
        }
        button{
            border: 3px solid orange;  
        }
    }
}