.Geral{
    display: flex;
    align-items: center;
    flex-direction: column;
    

    .Titulo{
        border: 1px solid red;
    }
    .Modificacoes{
        border: 3px solid yellowgreen;
    }
    .Numero{
        border: 3px solid green;
    }
    .FilaDupla{
        border: 3px solid blue;
    }
}